fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
psycopg[binary]
alembic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pytest
httpx
scikit-learn
pandas
joblib
numpy
firebase-admin
